@width: 960px;

.rounded-corners (@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}


.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #eee;
}

.form-horizontal {
  width: 320px;
  padding: 5px;
  margin: 0;
}

[data-grid-container] {
  .rounded-corners();
  max-width: @width;
  padding: 15px;
  margin: 0 auto;
  background: white;
}

.seperate {
  overflow: hidden;
}

.dateRange .pull-left {
  margin-right: 20px;
}

.btn-controls {
  margin-left: 20px;
}

.form-horizontal .label {
  margin: 15px 0 10px 0;
}

.message {
  width: 360px;
}

.filter-form  .control-group  .controls {
  margin-left:20px;
  float: left;
}

.filter-form .control-label{
  width: 65px
}

.filter-form .control-group {
  padding:0px;
}

.filter-form .control-group .controls .control-group .control-label {
  text-align: left;
  width:35px;
}

.filter-form .control-group input[type="text"] {
  width: 152px;
}

.sort {
  margin-left: 10px;
  width: 14px;
  height: 28px;
}

.errors-log-table tr th {
  .noselect;
  vertical-align: middle;
  overflow: hidden;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  position: relative;
}

.errors-log-table tr th i {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -7px;
}

