<table class="table table-bordered errors-log-table">
  <thead>
    <tr>
      <th class="id-cell sort-field" data-sort="id" data-direction="1">
        <span class="pull-left">ID</span>
        <i class="pull-right icon-chevron-up" data-sort-field data-direction="1"></i>
      </th>
      <th class="date-cell sort-field" data-sort="date">
        <span class="pull-left">Date</span>
        <i class="pull-right icon-chevron-up" data-sort-field></i>
      </th>
      <th class="msg-cell sort-field" data-sort="message" data-direction="1">
        <span class="pull-left">Message</span>
        <i class="pull-right icon-chevron-up" data-sort-field></i>
      </th>
      <th class="severity-cell sort-field" data-sort="severity" data-direction="1">
        <span class="pull-left">Severity</span>
        <i class="pull-right icon-chevron-up" data-sort-field></i>
      </th>
      <th class="type-cell sort-field" data-sort="type" data-direction="1">
        <span class="pull-left">Type</span>
        <i class="pull-right icon-chevron-up" data-sort-field></i>
      </th>
      <th class="server-cell sort-field" data-sort="server" data-direction="1">
        <span class="pull-left">Server ID</span>
           <i class="pull-right icon-chevron-up" data-sort-field></i>
      </th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
<a href="#" data-load-more class="btn long btn-inverse" data-load-more>Load more</a>