<div class="btn-group pull-right">
  <button type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
    Filters
    <span class="caret"></span>
  </button>

  <div class="dropdown-menu">
    <form class="form-horizontal filter-form" >
      <div class="control-group">
        <label class="control-label">Date</label>
        <div class = "controls">
          <div class="control-group">
            <label class="control-label" for="date-from">From</label>
            <div class="controls">
              <input data-datepicker data-date-autoclose="true" id = "date-from" data-date-start type="text" placeholder="" data-date-format="M-dd-yyyy" placeholder="Date from">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="date-to">To</label>
            <div class="controls">
              <input data-datepicker data-date-autoclose="true" id = "date-to" data-date-end type="text" placeholder="" data-date-format="M-dd-yyyy" placeholder="Date from">
            </div>
          </div>
        </div>
      </div>

      <!-- Severity checkboxes -->
      <div class="control-group" >
        <label class="control-label">Severity</label>
        <div class="controls">
          <label class="checkbox inline">
            <input checked="checked" name="severity" data-option-severity type="checkbox" id="warningBox" value="warning"> Warning
          </label>
          <label class="checkbox inline">
            <input checked="checked" name="severity" data-option-severity type="checkbox" id="errorBox" value="error"> Error
          </label>
        </div>
      </div>

      <!-- Type checkboxes -->
      <div class="control-group">
        <label class="control-label">Type</label>
        <div class="controls">
          <label class="checkbox inline">
            <input checked="checked" type="checkbox" data-option-type name="type" id="typeBox" value="indexation"> Indexation
          </label>
        </div>
      </div>


      <!-- Server select -->
        <div class="control-group">
          <label class="control-label">Server</label>
          <div class="controls">
            <select multiple class="form-control" data-option-server id="server"></select>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label"></label>
          <div class="controls">
            <button class="btn btn-primary submit" type="submit">Ok</button>
            <button class="btn btn-default reset" type="button">Cancel</button>
          </div>
        </div>
      </form>
  </div>
</div>